#Gitignore
# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc


# Node.js
/npm-debug.log
yarn-error.log
.pnp.js
node_modules/


# Vite
/dist/

# Express
.env